body{
    width: 980px;
    margin: auto;
}

h1{
    text-align: center;
}

table{
    width: 980px;
    table-layout: fixed;
    border-collapse: collapse;
    border: solid 4px black;
}

td{
    border: solid 4px black;
}

td p:nth-child(4n+1){
    background-color: #ffffee;
}

td p:nth-child(4n+2){
    background-color: #ffeeff;
}

td p:nth-child(4n+3){
    background-color: #eeffff;
}

td p:nth-child(4n){
    background-color: #eeeeff;
}
